@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

body{
  background-color: var(--dark-blue);
}
html {
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}






/*
======================
======   hero  ======= 
======================
*/
.hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 140px;
  width: 80%;
  margin: auto;
  margin-top: 120px;
}
.title h1{
  font-size: 30px;
  color: var(--light-Ramadan);
  margin: 8px 0;
}
.title span{
  color: var(--Modern-heavenly);
}
.title p{
  color: var(--light-Ramadan);
  font-size: 12px;
  margin-bottom: 60px;
}
.initial img{
  width: 250px;
  margin-top: 90px;
  border-radius: 50%;
  box-shadow: 0 0 10px var(--light-Ramadan);
}
.btn{
  padding: 12px 24px;
  background: var(--modern-yellow);
  margin: 20px 0;
  text-decoration: none;
  color: black;
  border-radius: 50px;
}









/*
==============================
==== navbar and platform =====
==============================
*/ 
.link{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
nav{
  position: fixed;
  left: 0;top: 0;bottom: 0;right: 0;
  background: var(--dark-blue);
  box-shadow: 0 0 10px #000000;
  margin-left: 600px;
  transition: .3s ease;
}
.platform{
  margin-top: 3px;
}
.platform ul{
  display: flex;
  gap: 24px;
  list-style-type: none;
  flex-direction: row;
}
.platform img{
  width: 24px;
  
}
nav ul{
  text-align: center;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30%;
}
nav ul a{
  color: var(--Modern-heavenly);
  text-decoration: none;
}
nav ul a:hover{
  color: var(--modern-yellow);
}
.menu{
  z-index: 7;
  position: relative;
  width: 38px;
}





/*
==============================
====       skills        =====
==============================
*/ 
.skill{
  background: #A855F75C;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 8px 1px;
  border-radius: 10px;
}
.skill img{
  width: 50px;
}
.skill span{
  color: #A855F7;
  text-transform: capitalize;
}
#all_skills{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  padding: 10px 10px;
  gap: 30px;
  margin: 32px 10px;
}
#skil{
  margin: 50px 20px;
}
#skills h2{
  font-size: 30px;
  margin: 20px;
  color: white;
}






/*
==============================
====        project      =====
==============================
*/ 
#project{
  border-bottom: .5px solid var(--light-Ramadan);
  border-top: .5px solid var(--light-Ramadan);
  margin: 0 24px;
}
#project > h2{
  color: white;
  margin-bottom: 50px;
  margin-left: 70%;
}

.projects{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 50px 30px;
}
.projects:empty::before {
  content: "There are no projects yet, it will be available soon.";
  color: white;
  display: block;
  text-align: center;
  padding: 10px;
  z-index: 7;
}
.projec{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  margin: 20px 10px;
  transition: .3s ease;
  max-width: 300px;
  border: 1px solid var(--Modern-heavenly);
  border-radius: 10px;
} 
.projec img{
  width: 100%;
  border-radius: 10px;
}

.information {
  padding: 20px 15px;
}
.information p{
  color: var(--light-Ramadan);
  font-weight: 300;
}
.information h3{
  margin: 10px 0;
  color: #fff;
}
.information a{
  padding: 8px 15px;
  background: var(--modern-yellow);
  border-radius: 50px;
  color: black;
  margin: 20px 0 0 0;
  display: inline-block;
  text-decoration: none;
}






/*
==============================
====       header        =====
==============================
*/ 
.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
  max-width: 1700px;
  padding: 10px 20px;
  position: fixed;
  top: 0;right: 0;left: 0;
  background: var(--dark-blue);
}
.logo img{
  width: 50px;
}
.logo a{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--light-Ramadan);
  text-decoration: none;
  font-size: 19px;
  font-weight: 700;
  text-transform: uppercase;
}






/*
==============================
====        about        =====
==============================
*/ 
#about{
  display: flex;
  justify-content: space-between;
  align-items: center !important;
  padding: 90px 10px;
  flex-direction: column;
  text-align: center;
  border-bottom: .5px solid var(--light-Ramadan);
  border-top: .5px solid var(--light-Ramadan);
  transition: 0.3s all ease-in-out;
  margin: 0 20px;
} 
#about img{
  border-radius: 50%;
  border: 2px solid #0063FF;
}
.about-title {
  padding: 0 21px;
  
}
.about-title h2{
  color: white;
  font-size: 40px;
  position: absolute;
  left: 20px;
  top: 747px;
  background: var(--dark-blue);
  padding: 0 16px;
}
.about-title h2 span{
  color: var(--Modern-heavenly);
}
.about-title p{
  color: white;
  margin: 10px 0;
  margin-bottom: 70px;
  font-size: 16px;
  font-weight: 300;
}
.btn2{
  text-decoration: none;
  color: white;
  border: 1.5px solid white;
  padding: 10px 30px;
}




/*
==============================
====     conent form     =====
==============================
*/ 
.contact-form {
  padding: 25px;
  font-family: Arial, sans-serif;
  padding: 40px 20px;
}

.contact-form h2 {
  text-align: center;
  margin-bottom: 32px;
  color: var(--Modern-heavenly);
  font-size: 32px;
}

.contact-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #fff;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid var(--Modern-heavenly);
  transition: border-color 0.3s ease;
  background: transparent;
  color: var(--Modern-heavenly);
  border-radius: 8px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: var(--modern-yellow);
  outline: none;
}

.contact-form button {
  width: 100%;
  padding: 12px;
  border: none;
  color: #000;
  background: var(--modern-yellow);
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
  border-radius: 8px;
}

.contact-form button:hover {
  background: var(--Modern-heavenly);
  color: black;
}





/*
==============================
====  back button top    =====
==============================
*/ 
.btn_top{
    width: 50px;
    height: 50px;
    background: var(--Modern-heavenly);
    color: black;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    display: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    z-index: 99;
    box-shadow: -4px -4px 8px rgba(0, 0, 0, 0.637);
    transition: background-color 0.3s, transform 0.3s;

}


/*
==============================
====        footer       =====
==============================
*/ 

footer{
  background: var(--dark-blue);
  margin-top: 30px;
  padding: 30px;
  text-align: center;
  color: white;
}
footer div p{
  font-weight: 300;
  font-size: 10px;
  margin: 16px 0;
}
footer a{
  color: white;
  padding: 32px 0;
}
