#project > h2{
  color: black;
  margin-bottom: 50px;
  margin-left: 70%;
}

.projects{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  background: #000000;
  padding: 50px 30px;
}
.projects:empty::before {
  content: "There are no projects yet, it will be available soon.";
  color: white;
  display: block;
  text-align: center;
  padding: 10px;
  z-index: 7;
}
.projec{
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  margin: 20px 10px;
  box-shadow: 5px 5px 0 #FFFFFF8A;
  transition: .3s ease;
}
.projec:hover{
  transform: scale(1.1);
}
.projec img{
  width: 100%;
}

.information {
  padding: 20px 15px;
}
.information p{
  color: #606060;
  font-weight: 300;
}
.information h3{
  margin: 10px 0;
  color: #000000;
}
.information a{
  padding: 8px 15px;
  background: var(--color-bluish-purple);
  border-radius: 50px;
  color: white;
  margin: 20px 0 0 0;
  display: inline-block;
  text-decoration: none;
}