@media (min-width: 564px)  {
  .container{
    padding: 10px 30px;
    z-index: 444;
  }
  .title{ 
    width: 80%;
    text-align: initial;
  }
  .title h1{
    font-size: 40px;
  }
  .title p {
    width: 70%;
  }
 .platform ul li a{
   color: white;
   text-decoration: none;
   
 }
 .platform ul{
   display: flex;
   gap: 25px;
 }
 .hero{
   display: flex;
   flex-direction: row;
 }
 .navbar{
   padding: 0 17px;
 }
 #about{
   flex-direction: row !important;
   padding: var(--size-tablet-header) !important;
   padding: 100px 40px !important
 }
 .about-title{
   text-align: initial;
   margin-left: 130px;
 }
 #skills{
   grid-template-columns: 1fr 1fr 1fr 1fr;
   padding: 50px 40px;
 }
 #skil h2{
   font-size: 40px;
   text-transform: capitalize;
   color: var(--color-ghost-white);
 }
 #project > h2{
   margin-left: 77% !important;
   font-size: 40px!important;
   text-transform: capitalize;
 }
 .projects{
   grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)) !important;
 }
 .contact-form{
   padding: 40px 270px !important;
 }
 .link{
   display: flex !important;
   flex-direction: row;
 }
 nav{
   position: relative;
   background: none;
   box-shadow: none;
   margin-left: 0%!important;
 }
 nav ul {
   display: flex;
   flex-direction: row;
   margin-top: 0;
   left: 0;
 }
 nav ul li a{
   color: var(--Modern-heavenly);
 }
 .about-title h2{
   top: 577px;
 }
 .menu{
   display: none;
 }
 
}

