.skill{
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px;
  border: 1px solid black;
}
.skill img{
  width: 70px;
}
.skill span{
  color: black;
  text-transform: capitalize;
}
#all_skills{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding: 50px 50px;
  gap: 30px;
  margin: 0 10px
}
#skil{
  margin: 50px 20px;
}
#skills h2{
  font-size: 30px;
  margin: 20px;
}

#